<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dawang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,0},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzhuan_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,204},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,408},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,612},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,816},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongxin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,1020},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,1224},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{166,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{332,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{498,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{664,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,1428},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{0,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaowang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{830,1632},{166,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{996,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7310d13336418f19c08a23fee3de3141:1662f644eb52ced3489910c07cfbc57f:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
