<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bujiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{142,50}</string>
                <key>textureRect</key>
                <string>{{176,0},{142,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{318,0},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{494,0},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{670,0},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,60}</string>
                <key>spriteSourceSize</key>
                <string>{176,60}</string>
                <key>textureRect</key>
                <string>{{846,0},{176,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{1022,0},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>show.png</string>
            <key>size</key>
            <string>{1119,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f424a5285cd96cfec587ce2e7028abb8:e06d3888f6de85d128b27b1a26fa5927:fb212432ef8d6023e66c304dab173883$</string>
            <key>textureFileName</key>
            <string>show.png</string>
        </dict>
    </dict>
</plist>
